$webfonts-dir: "/fonts" !default;

@font-face {
    font-family: "Grotesk";
    font-display: fallback;
    font-weight: 400;
    font-style: normal;
    src: url("#{$webfonts-dir}/Grotesk-Regular-Web.woff2") format("woff2"),
        url("#{$webfonts-dir}/Grotesk-Regular-Web.woff") format("woff");
}
@font-face {
    font-family: "Grotesk";
    font-display: fallback;
    font-weight: 700;
    font-style: normal;
    src: url("#{$webfonts-dir}/Grotesk-Bold-Web.woff2") format("woff2"),
        url("#{$webfonts-dir}/Grotesk-Bold-Web.woff") format("woff");
}
@font-face {
    font-family: "Grotesk";
    font-display: fallback;
    font-weight: 400;
    font-style: italic;
    src: url("#{$webfonts-dir}/Grotesk-Italic-Web.woff2") format("woff2"),
        url("#{$webfonts-dir}/Grotesk-Italic-Web.woff") format("woff");
}
@font-face {
    font-family: "Grotesk";
    font-display: fallback;
    font-weight: 700;
    font-style: italic;
    src: url("#{$webfonts-dir}/Grotesk-BoldItalic-Web.woff2") format("woff2"),
        url("#{$webfonts-dir}/Grotesk-BoldItalic-Web.woff") format("woff");
}
@font-face {
    font-family: "Grotesk Display";
    font-display: fallback;
    font-weight: 400;
    font-style: normal;
    src: url("#{$webfonts-dir}/Grotesk-Display-Web.woff2") format("woff2"),
        url("#{$webfonts-dir}/Grotesk-Display-Web.woff") format("woff");
}
@font-face {
    font-family: "Grotesk Mono";
    font-display: fallback;
    font-weight: 400;
    font-style: normal;
    src: url("#{$webfonts-dir}/GroteskMono-Regular-Web.woff2") format("woff2"),
        url("#{$webfonts-dir}/GroteskMono-Regular-Web.woff") format("woff");
}
